<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Roboto+Condensed&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="app-logo">
<button>a</button>
        </div>
        <nav class="header-nav">
            <ul>
                <li> <button id="addtask">+ Add Task</button></li>
                <li> <button id="user">JA</button> <img src="/static/images/icons8-triangle-arrow-24.png"></p></li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <aside class="side-bar">
          <nav class="main-nav">
              <ul>
                  <li id="dash-board"> <p><img src="/static/images/icons8-retro-alarm-clock-24.png"> Dashboard </li>

                  <li> <p><img src="/static/images/icons8-future-16.png">Project</p>
                <nav id="inner-list">
<ul>
    <li>Lemon</li>
 <li>Orange</li>
    <li>Disputes</li>
    <li>settings</li>
</ul>
                </nav> 
                </li>
            <li> <p><img src="/static/images/icons8-gear-16.png">Settings</p</li>       
              </ul>
          </nav>
        </aside>
        <div class="task-manager">
            <nav class="task-log">
                <ul>
                    <li>
                            <p class="overview">overview</p>
                    </li>
                    <li>
                            <p class="tasks">Tasks</p>
                    </li>
                </ul>
            </nav>
            
           
            <div class="project">
                <p id="proj-head">Project</p>
                <nav class="project-list">
                    <ul>
                        <li id="item-1">Rekt Tickets</li>
                        <li id="item-2">mFinance</li>
                       
                        <li id="item-3">Create new</li>
                            </ul>
                </nav>
                <div class="lemon">
                    <p id='lemon-head'>
                        Lemon
                    </p>
                    <nav>
                        <ul>
                            <li id="lemon-1"></li>

                            <li id="lemon-2"></li>

                            <li id=lemon-3></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>