*
{
    margin:0px;
}
body
{
    display: flex;
 
    background-color:rgb(223,223,223);
    height: 100vh;
    width:100%;

}
.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
     
     

}
form
{
    display:flex;
   flex-direction: row;
   margin-left:360px;
 margin-right: 500px;
 
 background-color:white;
 padding: 50px;

}
input
{
    display:flex;
     flex-direction: column;
     border-radius: 3px;

    height:35px;
    width: 350px;
     align-content: space-around;
     border-color: none;
     align-items: center;
     background-color:#f7fafc;
     border:#f7fafc;
      
    
   border-color: #f7fafc;
     border-radius: 3px;
}
 
button
{

    
    color:white;
   
    display: flex;
    margin-left: 23px;
    flex-direction: column;
    justify-content: center;
   background-color:#586ada;
   height: 40px;
   width:150px;
   color:white;
   border:#586ada;
    
}

