*
{
    margin:0px;

}
body
{
    display: flex;
    background-color:rgb(223,223,223);
}
.main-container

{
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
}

form
 {
     display:flex;
     flex-direction: column;
     justify-content: center;
     background-color: white;
     height: 350px;
    
    padding-left: 90px;
    padding-right: 90px;

     
 }

 .login-form input[type="password"]
 {
     display:flex;
     flex-direction: column;
     margin-bottom: 23px;
     align-content: space-around;
     border-color: none;
     align-items: center;
     background-color:#f7fafc;
     border:#f7fafc;
     height: 35px;
   border-color: #f7fafc;
     border-radius: 3px;
 
    
 }
 
form  input {
    display: flex;
    margin-bottom: 23px;
    background-color:#f7fafc;
    border:#f7fafc;
    height: 35px;
    width:300px;
    border-radius: 5px;
    justify-content: space-around;
    
 
 
}
form button
{
    color:white;
     margin-top:23px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    background-color:#586ada;
    height: 40px;
    width:310px;
    color:white;
    border:#586ada
}